#hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 140px 48px 80px;
    max-width: var(--max-w);
    margin: 0 auto;
    position: relative;
}


.hero-tag {
    font-family: var(--font-mono);
    font-size: 12px;
    letter-spacing: 0.15em;
    /*define o espaçamento (tracking) entre os caracteres de um texto*/
    text-transform: uppercase;
    color: var(--accent);
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 12px;
    opacity: 10;
    animation: fadeUp 0.8s ease 0.2s forwards;
}

.hero-tag::before {
    content: '';
    display: block;
    /*ocupa 100% da largura disponível*/
    width: 32px;
    height: 1px;
    background: var(--accent);
}

.hero-name {
    font-family: var(--font-display);
    font-size: clamp(52px, 9vw, 120px);
    font-weight: 900;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: var(--ink);
    margin-bottom: 8px;
    opacity: 10;
    animation: fadeUp 0.9s ease 0.4s forwards;
}

.hero-name em {
    font-style: italic;
    color: var(--accent);
}

.hero-subtitle {
    font-family: var(--font-display);
    font-size: clamp(28px, 5vw, 64px);
    font-weight: 400;
    font-style: italic;
    color: var(--muted);
    line-height: 1.1;
    margin-bottom: 48px;
    opacity: 0;
    animation: fadeUp 0.9s ease 0.55s forwards;

}

.hero-desc {
    font-size: 17px;
    color: var(--muted);
    max-width: 520px;
    line-height: 1.75;
    margin-bottom: 56px;
    font-weight: 300;
    opacity: 0;
    animation: fadeUp 0.9s ease 0.7s forwards;
}

.hero-cta {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    /*opacity: 0;*/
    animation: fadeUp 0.9s ease 0.85s forwards;
    
}

.btn-primary {
    background: var(--ink);
    color: var(--bg);
    font-family: var(--font-mono);
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 16px 32px;
    text-decoration: none;
    border: 1px solid var(--ink);
    transition: all 0.3s ease;
    display: inline-block;

    border-radius: 18px 5px 18px 5px;

}

.btn-primary:hover {
    background: var(--accent);
    border-color: var(--accent);

}

.btn-secondary {
    font-family: var(--font-mono);
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--muted);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.2s, gap 0.2s;
}

.btn-secondary:hover {
    color: var(--accent);
    gap: 14px;
}

.hero-scroll-hint {
    position: absolute;
    bottom: 48px;
    right: 48px;
    writing-mode: vertical-rl;
    font-family: var(--font-mono);
    font-size: 11px;
    letter-spacing: 0.15em;
    color: var(--line);
    display: flex;
    align-items: center;
    gap: 12px;
    opacity: 0;
    animation: fadeIn 1s ease 1.5s forwards;
}

.hero-scroll-hint::after {
    content: '';
    display: block;
    width: 1px;
    height: 60px;
    background: var(--line);
    animation: scrollLine 2s ease-in-out 2s infinite;
}